*{
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    color: #fff;
    
}
:root{
    --main-color:#010103;
    --black:#13131a;
    --bg: #d3ad7f ;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

body{
    background-color: var(--bg);
}
body h1{
    text-align: center;
}
.tabela-main{
    border:1px solid #c0c0c0;
    background-color: #13131a;
    text-align: center;

}
.lista-itens{
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.5rem;  
}
.data-tabela{
    padding: 1rem;
}
.tabela-usuario{
text-align: center;
padding: 1rem;
}